@use '../../../styles/utils/mixins';
$px: mixins.rem(4px);

.container {
  position: relative;
  display: flex;
  width: mixins.rem(165px);
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: mixins.rem(23px) mixins.rem(12px) mixins.rem(20px);
  border-width: mixins.rem(3px);
  border-style: solid;
  border-radius: mixins.rem(6px);
  font-family: var(--font-family-secondary);
  gap: mixins.rem(11px);
  &.active {
    &:before {
      position: absolute;
      top: mixins.rem(-2px);
      left: mixins.rem(-2px);
      width: calc(100% + $px);
      height: calc(100% + $px);
      border-radius: mixins.rem(6px);
      content: '';
    }
  }

  &.red {
    border-color: var(--color-red);
    background-color: var(--color-red-darker);
    &:before {
      border: mixins.rem(4px) solid var(--color-red-lighter);
    }
  }
  &.green {
    border-color: var(--color-green);
    background-color: var(--color-green-darker);
    &:before {
      border: mixins.rem(4px) solid var(--color-green-lighter);
    }
  }
  &.blue {
    border-color: var(--color-blue);
    background-color: var(--color-blue-darker);
    &:before {
      border: mixins.rem(4px) solid var(--color-blue-lighter);
    }
  }

  &:disabled {
    pointer-events: none;
  }
}

.label {
  text-transform: uppercase;
}

.chipContainer {
  display: flex;
  width: mixins.rem(42px);
  height: mixins.rem(42px);
  align-items: center;
  justify-content: center;
}

.text {
  letter-spacing: 0.3px;
}
