@use '@/styles/utils/mixins';

.vs {
  padding: 0 mixins.rem(62px);
  text-transform: lowercase;
}

.draw {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.computerPosition {
  display: flex;
  justify-content: flex-end;
}
