@use '../../styles/utils/mixins';

.vs {
  padding: 0 mixins.rem(62px);
  text-transform: lowercase;
}

.draw {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.computerPosition {
  justify-self: end;
}

.playerPosition {
  justify-self: start;
}
