@font-face {
  font-display: swap;
  font-family: 'Cabin';
  font-stretch: 100%;
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/Cabin-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/Mukta-latin-700.woff2') format('woff2');
}
