@use 'utils/variables';
@use 'utils/mixins';

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; /* Safari/Chrome, other WebKit */ /* Firefox, other Gecko */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-rendering: optimizeLegibility;
  -webkit-user-drag: none;
  user-select: none;
}

:root {
  --color-white: rgb(255, 255, 255);
  --color-dark: rgb(7, 7, 7);
  --color-black: rgb(22, 22, 22);
  --color-brown-light: rgb(213, 179, 126);

  //--color-blue: hsla(223, 53%, 39%, 1);
  //--color-green: hsla(140, 69%, 29%, 1);
  //--color-red: hsla(345, 85%, 33%, 1);

  --color-green: rgb(23, 126, 58);
  --color-green-lighter: rgb(20, 195, 89);
  --color-green-darker: rgb(27, 56, 29);

  --color-red: rgb(155, 13, 48);
  --color-red-lighter: rgb(227, 20, 66);
  --color-red-darker: rgb(80, 8, 31);

  --color-blue: rgb(47, 77, 151);
  --color-blue-lighter: rgb(39, 128, 234);
  --color-blue-darker: rgb(33, 31, 79);

  --color-chip-blue: rgb(34, 94, 255);
  --color-bg-start: rgb(72, 72, 72);
  --color-bg-end: rgb(32, 32, 32);

  --font-size-4xl: #{mixins.rem(42px)};
  --font-size-3xl: #{mixins.rem(28px)};
  --font-size-2xl: #{mixins.rem(24px)};
  --font-size-xl: #{mixins.rem(22px)};
  --font-size-lg: #{mixins.rem(18px)};
  --font-size-m: #{mixins.rem(16px)};
  --font-size-s: #{mixins.rem(14px)};

  --font-family-primary: 'Cabin', sans-serif;
  --font-family-secondary: 'Mukta', sans-serif;
}

html {
  font-family: var(--font-family-primary);
  font-size: variables.$html-font-size-vw-xsm;
  font-synthesis: none;
  font-weight: 400;
  @media (min-width: variables.$breakpoint-sm) {
    font-size: variables.$html-font-size-vw-sm;
  }
  @media (min-width: variables.$breakpoint-md) {
    font-size: variables.$html-font-size-vw-md;
  }
  @media (min-width: variables.$breakpoint-lg) {
    font-size: variables.$html-font-size-vw-lg;
  }
}

body {
  display: flex;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background: linear-gradient(to bottom, var(--color-bg-start), var(--color-bg-end));
  color: var(--color-white);
  text-transform: uppercase;
}

#root {
  display: flex;
  flex: 1;
  flex-direction: column;
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;
}
