$html-font-size: 16px;
$html-font-size-vw-xsm: 2.1vw;
$html-font-size-vw-sm: 1.8vw;
$html-font-size-vw-md: 1.5vw;
$html-font-size-vw-lg: 1.4059vw;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
