@use '@/styles/utils/mixins';

.container {
  display: flex;
  width: 100%;
  max-width: mixins.rem(42px);
  height: 100%;
  max-height: mixins.rem(42px);
  align-items: center;
  justify-content: center;
  border: mixins.rem(5px) solid var(--color-chip-blue);
  border-radius: 100%;
  background-color: var(--color-white);
  color: var(--color-black);
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-lg);
  font-weight: 700;
}
