@use '../../styles/utils/mixins';

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 100%;
  font-weight: 700;
  border: mixins.rem(4px) solid var(--color-chip-blue);
  background-color: var(--color-white);
  width: mixins.rem(40px);
  height: mixins.rem(40px);
  color: var(--color-black);
}

.lowercase {
  text-transform: lowercase;
}
