@use './styles/utils/mixins';

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: mixins.rem(46px) 20px mixins.rem(46px);
}

.draw {
  min-height: mixins.rem(125px);
  padding-top: mixins.rem(69px);
  letter-spacing: mixins.rem(1.3px);
}

.results {
  min-height: mixins.rem(32px);
  padding-top: mixins.rem(5px);
  letter-spacing: mixins.rem(1.2px);
}

.pickPositions {
  min-height: mixins.rem(57px);
  padding-top: mixins.rem(40px);
  grid-column: span 3;
  text-align: center;
}

.positions {
  max-width: mixins.rem(532px);
  padding-top: mixins.rem(25px);
}

.play {
  padding-top: mixins.rem(72px);
}
