@use '@/styles/utils/mixins';
@use '@/styles/utils/variables';

.main {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-inline: mixins.rem(15px);
}

.drawSpace {
  max-height: mixins.rem(120px);
  flex: 1;
}

.draw {
  min-height: mixins.rem(53px);
  letter-spacing: mixins.rem(1.3px);
}

.resultsSpace {
  max-height: mixins.rem(19px);
  flex: 1;
}

.results {
  min-height: mixins.rem(29px);
  letter-spacing: mixins.rem(1.2px);
}

.pickPositionsSpace {
  max-height: mixins.rem(39px);
  flex: 1;
}

.pickPositions {
  min-height: mixins.rem(19px);
  grid-column: span 3;
  text-align: center;
}

.positionsSpace {
  max-height: mixins.rem(25px);
  flex: 1;
}

.playSpace {
  max-height: mixins.rem(72px);
  flex: 1;
}

.bottomSpace {
  max-height: mixins.rem(72px);
  flex: 1;
}
